@import "../style/themes/default";

$btn-prefix-cls: #{$uwp-prefix}-btn;

.#{$btn-prefix-cls} {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  padding: 4px 16px;
  transition: all .25s;
  border: 2px solid transparent;
  color: $chromeWhite;
  background: $listMedium;


  &:hover {
    border: 2px solid;
  }

  &:active {

  }

  &:disabled {
    cursor: not-allowed;
  }
}
