@import "../style/index";

$btn-prefix-cls: #{$uwp-prefix}-btn;

.#{$btn-prefix-cls} {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  padding: 4px 16px;
  transition: all .25s;
  border: 2px solid transparent;

  &-primary {
    color: $baseHigh;
    background: $baseLow;

    &:active {
      background: $baseMediumLow;
    }
  }

  &-accent {
    color: $baseHigh;
    background: $accent;

    &:active {
      background: $listAccentLow;
    }
  }

  &:hover {
    border: 2px solid $baseMediumLow;
  }

  &:focus {
    border: solid 2px $baseHigh;
  }

  &:disabled {
    cursor: not-allowed;
    background: $baseMedium;
    color: $baseMedium;

    &:hover {
      border: 2px solid transparent;
    }
  }
}
