<div class="main-content">
  <div style="padding: 100px">
    <button style="margin: 20px" uwp-button>
      <i style="font-size: 12px" uwp-icon iconType="save"></i>
      click me
    </button>
    <button style="margin: 20px" uwp-button disabled>click me</button>
    <button style="margin: 20px; font-size: 12px; padding: 2px 4px" uwp-button>click me</button>
    <button style="margin: 20px; font-size: 32px" uwp-button>click me</button>
    <button style="margin: 20px" uwp-button uwpType="accent" (click)="change()">click me</button>
    <i uwp-icon iconType="save" [iconHover]="{transform: 'scale(1.25)', color: '#0078D7'}"></i>
    <i style="margin-left: 20px; font-size: 12px" uwp-icon iconType="save" uwp-tooltip uwpContent="save我的"></i>
    <i style="margin-left: 20px" uwp-icon iconType="save" uwp-tooltip [uwpContent]="template"></i>
    <ng-template #template>
      <span style="color: red">from template</span>
    </ng-template>
    <i style="margin-left: 20px" uwp-icon iconType="save" uwp-tooltip uwpAutoClose uwpContent="save"></i>
    <i style="margin-left: 20px" uwp-icon iconType="save" uwp-tooltip uwpHorizontalPosition="start" uwpVerticalPosition="bottom" uwpContent="save"></i>
  </div>
</div>


