<div class="main-content">
  <div style="padding: 100px">
    <button style="margin: 20px" uwpButton>
      <i uwpIcon iconType="save"></i>
      click me
    </button>
    <button style="margin: 20px" uwpButton disabled>click me</button>
    <button style="margin: 20px" uwpButton uwpType="accent">click me</button>
    <i uwpIcon iconType="save" [iconHover]="{transform: 'scale(1.25)', color: '#0078D7'}"></i>
    <i style="margin-left: 20px; font-size: 12px" uwpIcon iconType="save"></i>
  </div>
</div>


