html,
body,
address,
blockquote,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
pre {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent; // remove the gray background on active links in IE 10.
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects; // remove gaps in links underline in iOS 8+ and Safari 8+.

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }
}

ul,
ol {
  list-style: none;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
