html, body, address, blockquote, dl, form, h1, h2, h3, h4, h5, h6, ol, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, pre {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

@font-face {
  font-family: "Segoe MDL2 Assets";
  font-style: normal;
  font-weight: 400;
  src:
    local("Segoe MDL2 Assets"),
    url("../font/segoe-mdl2-assets/segmdl2.eot"),
    url("../font/segoe-mdl2-assets/segmdl2.woff2") format("woff2"),
    url("../font/segoe-mdl2-assets/segmdl2.woff") format("woff"),
    url("../font/segoe-mdl2-assets/segmdl2.svg#SegoeMDL2Assets") format("svg"),
    url("../font/segoe-mdl2-assets/segmdl2.ttf") format("truetype");
}
