// font size
$font-size-header: 46px;
$font-size-subHeader: 34px;
$font-size-title: 24px;
$font-size-subTitle: 20px;
$font-size-subTitleAlt: 18px;
$font-size-base: 15px;
$font-size-baseAlt: 15px;
$font-size-body: 15px;
$font-size-captionAlt: 13px;
$font-size-caption: 12px;

// font weight
$font-weight-header: lighter;
$font-weight-subHeader: lighter;
$font-weight-title: lighter;
$font-weight-subTitle: normal;
$font-weight-subTitleAlt: normal;
$font-weight-base: 300;
$font-weight-baseAlt: bold;
$font-weight-body: 200;
$font-weight-captionAlt: lighter;
$font-weight-caption: lighter;

// line height
$line-height-header: 56px;
$line-height-subHeader: 40px;
$line-height-title: 28px;
$line-height-subTitle: 24px;
$line-height-subTitleAlt: 20px;
$line-height-base: 20px;
$line-height-baseAlt: 20px;
$line-height-body: 20px;
$line-height-captionAlt: 16px;
$line-height-caption: 14px;


.uwp-font-header {
  font-size: $font-size-header;
  font-weight: $font-weight-header;
  line-height: $line-height-header;
}

.uwp-font-subHeader {
  font-size: $font-size-subHeader;
  font-weight: $font-weight-subHeader;
  line-height: $line-height-subHeader;
}

.uwp-font-title {
  font-size: $font-size-title;
  font-weight: $font-weight-title;
  line-height: $line-height-title;
}

.uwp-font-subTitle {
  font-size: $font-size-subTitle;
  font-weight: $font-weight-subTitle;
  line-height: $line-height-subTitle;
}

.uwp-font-subTitleAlt {
  font-size: $font-size-subTitleAlt;
  font-weight: $font-weight-subTitleAlt;
  line-height: $line-height-subTitleAlt;
}

.uwp-font-base {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

.uwp-font-baseAlt {
  font-size: $font-size-baseAlt;
  font-weight: $font-weight-baseAlt;
  line-height: $line-height-baseAlt;
}

.uwp-font-body {
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  line-height: $line-height-body;
}

.uwp-font-captionAlt {
  font-size: $font-size-captionAlt;
  font-weight: $font-weight-captionAlt;
  line-height: $line-height-captionAlt;
}

.uwp-font-caption {
  font-size: $font-size-caption;
  font-weight: $font-weight-caption;
  line-height: $line-height-caption;
}
