<footer id="uwp-footer">
  <div class="container">
    <dl>
      <dt class="uwp-font-subTitle">UWP Design && Fluent Design</dt>
      <dd class="uwp-font-caption"><a href="https://developer.microsoft.com/en-us/windows/apps/design">UWP Design</a></dd>
      <dd class="uwp-font-caption"><a href="https://developer.microsoft.com/en-us/windows">Windows Dev Center</a></dd>
      <dd class="uwp-font-caption"><a href="https://msdn.microsoft.com/en-us/default.aspx">MSDN Forums</a></dd>
      <dd class="uwp-font-caption"><a href="http://fluent.microsoft.com/">Fluent Design System</a></dd>
      <dd class="uwp-font-caption"><a href="https://dev.office.com/fabric">Fabric</a></dd>
      <dd class="uwp-font-caption"><a href="https://www.react-uwp.com">react-uwp</a></dd>
    </dl>
    <dl>
      <dt class="uwp-font-subTitle">Angular</dt>
      <dd class="uwp-font-caption"><a href="https://angular.io/">Angular</a></dd>
      <dd class="uwp-font-caption"><a href="https://cli.angular.io/">Angular CLI</a></dd>
    </dl>
    <dl>
      <dt class="uwp-font-subTitle">Follow ngx-uwp</dt>
      <dd class="uwp-font-caption"><a href="https://github.com/tc9011/ngx-uwp">Github</a></dd>
    </dl>
  </div>
</footer>
