<nav id="uwp-navbar">
  <div></div>
  <div class="content">
<!--    <span class="">口</span>-->
    <a href="/" class="logo">
      <img src="../../../assets/icons/angular-blue-transparent.svg" alt="logo">
      <p class="logo-description">Angular UWP</p>
    </a>
    <div class="nav-list-wrapper">
      <div class="nav-list">
        <a class="nav-item" routerLink="/get-start">Get Started</a>
        <a class="nav-item" routerLink="/components">Components</a>
        <a class="nav-item" routerLink="/resources">Resources</a>
        <a class="nav-item" routerLink="/showcase">Showcase</a>
      </div>
<!--      <div></div>-->
    </div>
  </div>
</nav>
