$green-light: #dcedc8;
$green-normal: #7cb342;

$red-light: #ffccd1;
$red-normal: #e53734;

$blue-light: #e0f7fa;
$blue-normal: #00bcd4;

$brown-light: #d7ccc8;
$brown-normal: #6d4c41;

$gray1-color: #d3d3d3;
$gray2-color: #eeeeee;
$gray3-color: #f3f3f3;
$gray4-color: #f9f9f9;

$white-color: #FFFFFF;
