$green-light: #dcedc8;
$green-normal: #00c853;
$green-dark: #7cb342;

$red-light: #ffccd1;
$red-normal: #ff1744;
$red-dark: #e53734;

$blue-light: #e0f7fa;
$blue-normal: #448aff;
$blue-dark: #00bcd4;

$yellow-light: #f9eab3;
$yellow-normal: #ffd600;
$yellow-dark: #f9a825;

$brown-light: #d7ccc8;
$brown-normal: #845241;
$brown-dark: #6d4c41;

$gray1-color: #d3d3d3;
$gray2-color: #eeeeee;
$gray3-color: #f3f3f3;
$gray4-color: #f9f9f9;

$white-color: #FFFFFF;

$black-color: #000000;
