@import "../style/themes/default";

$alert-prefix-cls: #{$ice-prefix}-alert;

.#{$alert-prefix-cls} {
  background: $error-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $white-color;
}
