@import '../style/index';

$icon-prefix-cls: #{$uwp-prefix}-icon;

.#{$icon-prefix-cls} {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Segoe MDL2 Assets' !important;
  transition: all 0.25s;
  border: none;
  outline: none;
  user-select: none;
  font-style: normal;
  color: $baseHigh;
  font-size: 24px;
}
